<!doctype html>
<html lang="zh-hans">
  <head>
    <meta charset="UTF-8"/>
    <title>the house</title>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.7&key=4a35abf3a69ff2e83179974d4fcc3884&callback=init&plugin=AMap.Geocoder"></script>
    <style type="text/css">
     #container { width:1366px; height: 768px; }
    </style>
  </head>
  <body>
    <div id="container" ></div>
    <div id="tip">
      <span id="result"></span>
    </div>
    <script>
     window.init = function() {

       var map = new AMap.Map('container', {
         resizeEnable: true,
         zoom:8,
         center: [116.397428, 39.90923]
       });

       map.setCity('成都市');

       function geocoder() {
         var geocoder = new AMap.Geocoder({
           city: '028', //城市，默认：“全国”
           radius: 1000 //范围，默认：500
         });

         //地理编码,返回地理编码结果
         geocoder.getLocation('内姜街73号', function(status, result) {
           if (status === 'complete' && result.info === 'OK') {
             geocoder_CallBack(result);
           }
         });
       }

       function addMarker(i, d) {
         var marker = new AMap.Marker({
           map: map,
           position: [ d.location.getLng(),  d.location.getLat()]
         });
         var infoWindow = new AMap.InfoWindow({
           content: d.formattedAddress,
           offset: {x: 0, y: -30}
         });
         marker.on("mouseover", function(e) {
           infoWindow.open(map, marker.getPosition());
         });
       }

       //地理编码返回结果展示
       function geocoder_CallBack(data) {
         var resultStr = "";
         //地理编码结果数组
         var geocode = data.geocodes;
         for (var i = 0; i < geocode.length; i++) {
           //拼接输出html
           resultStr += "<span style=\"font-size: 12px;padding:0px 0 4px 2px; border-bottom:1px solid #C1FFC1;\">" + "<b>地址</b>：" + geocode[i].formattedAddress + "" + "&nbsp;&nbsp;<b>的地理编码结果是:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;坐标</b>：" + geocode[i].location.getLng() + ", " + geocode[i].location.getLat() + "" + "<b>&nbsp;&nbsp;&nbsp;&nbsp;匹配级别</b>：" + geocode[i].level + "</span>";
           addMarker(i, geocode[i]);
         }

         map.setFitView();
         document.getElementById("result").innerHTML = resultStr;
       }

       geocoder();
     }
    </script>
  </body>
</html>
